@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;

  --color-primary-black: #282b47;
  --color-primary-black-10: #232742;
  --color-primary-black-20: #36384d;
  --color-secondary: #ff6251;
  --color-white: #FFFFFF;
  --color-black: #000000;

  color: #000000;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

#app {
  background-color: var(--color-primary-black-20);
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.newsletter {
  background-color: var(--color-white);
  max-width: 1280px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
}

.newsletter__image {
  max-width: 100%;
}

figure {
  margin: 0;
}

.newsletter__form {
  padding: 1.5rem;
  text-align: start;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.1;
  color: var(--color-primary-black);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.newsletter__form--desc {
  color: var(--color-primary-black-20);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.newsletter__form ul {
  padding: 0;
  list-style: none;
}

.newsletter__form li::before {
  content: url("./assets/images/icon-list.svg");
}

.newsletter__form li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--color-primary-black-20);
}
