@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;

  --color-primary-black: #282b47;
  --color-primary-black-10: #232742;
  --color-primary-black-20: #36384d;
  --color-secondary: #ff6251;
  --color-secondary-20: #FFE8E6;
  --color-white: #FFFFFF;
  --color-black: #000000;

  color: #000000;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 80vh;
}

/** Utilities classes **/

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.text-error {
  color: var(--color-secondary);
}

.is-invalid {
  border: 1px solid var(--color-secondary) !important;
  outline-color: var(--color-secondary) !important;
  color: var(--color-secondary) !important;
  background-color: var(--color-secondary-20) !important;
}

.is-invalid::placeholder {
  color: var(--color-secondary) !important;
}

.btn-primary {
  background: var(--color-primary-black-20);
  padding: 1.125rem;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-white);
  cursor: pointer;
  transition: background 0.15s ease, box-shadow 0.15s ease;
}

.btn-primary:hover {
  background: linear-gradient(90deg, rgba(255, 98, 81, 1) 56%, rgba(248, 145, 82, 1) 100%);
  box-shadow: -1px 8px 24px 4px rgba(255, 98, 81, 0.72);
}

/** End Utilities classes **/

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

#app {
  background-color: var(--color-primary-black-20);
  height: 100%;
}

.newsletter {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
}

.container {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .newsletter {
    padding-inline: 15px;
  }

  .newsletter .container {
    height: auto;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
    border-radius: 1.5rem;
    gap: 1rem;
  }
}

figure {
  margin: 0;
}

.newsletter__image img {
  width: 100%;
  height: 100%;
}

.newsletter__content {
  padding: 1.5rem;
  text-align: start;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  color: var(--color-primary-black);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.newsletter__content--desc {
  color: var(--color-primary-black-20);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.newsletter__content ul {
  padding: 0;
  list-style: none;
  margin-bottom: 1.5rem;
}

.newsletter__content li::before {
  content: url("./src/components/assets/images/icon-list.svg");
}

.newsletter__content li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--color-primary-black-20);
}

.newsletter__content--form {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.newsletter__content--form .input-labels {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.newsletter__content--form .span-error {
  color: var(--color-secondary);
  font-size: 0.75rem;
  font-weight: 600;
  text-align: left;
  display: block;
}

.newsletter__content--form label {
  display: block;
  color: var(--color-primary-black);
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.newsletter__content--form input {
  padding: 1.125rem;
  width: 100%;
  border: 1px solid #cecece;
  border-radius: 0.375rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .newsletter__content {
    padding: 0 2.5rem;
    max-width: 440px;
  }
}

.success-view {
  height: 100vh;
}

.success-view .container {
  height: 100%;
}

.success-view .success-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px;
  text-align: start;
  row-gap: 24px;
}

.success-view .text-content {
  margin: auto;
}

.success-view .success__icon-check {
  width: 48px;
  height: 48px;
}

.success-view .success__icon-check img {
  width: 100%;
  height: 100%;
}

.success-view .success-content .title {
  font-size: 2.5rem;
  line-height: 1.1;
  color: var(--color-primary-black);
  text-align: start;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.success-view .success--desc {
  color: var(--color-primary-black);
  font-size: 1rem;
}

.success--desc #email_span {
  font-weight: 700;
}

@media (min-width: 500px) {
  .success-view .container {
    align-content: center;
  }

  .success-view .success-content {
    border-radius: 1.5rem;
    padding: 2.5rem;
    max-width: 440px;
    margin: 0 auto;
    height: fit-content;
  }
}