<section class="newsletter" id="newsletter">
    <div class="container">
        <div class="newsletter__image">
            <figure>
                <img src="./assets/images/illustration-sign-up-mobile.svg" class="d-md-none" alt="cover image for newsletter mobile">
                <img src="./assets/images/illustration-sign-up-desktop.svg" class="d-none d-md-block" alt="cover image for newsletter desktop">
            </figure>
        </div>

        <div class="newsletter__content">
            <h1>Stay updated!</h1>
            <p class="newsletter__content--desc">Join 60,000+ product managers receiving monthly updates on:</p>

            <ul>
                <li>Product discovery and building what matters</li>
                <li>Measuring to ensure updates are a success</li>
                <li>And much more!</li>
            </ul>

            <form class="newsletter__content--form">
                <div class="input-labels">
                    <label for="email_in">Email address</label>
                    <span id="span-error" class="span-error"></span>
                </div>

                <input type="email" id="email_in" name="email_in" placeholder="email@company.com" required></input>

                <button class="btn--submit" type="submit">Subscribe to monthly newsletter</button>
            </form>

        </div>
    </div>
</section>

<section class="success-view" id="success-view">
    <div class="container">
        <h2>Thanks for subscribing!</h2>
        <p>A confirmation email has been to <span id="email_span"></span>. Please open it and click the button inside to
            confirm your subscription.</p>

        <button>
            Dismiss message
        </button>
    </div>
</section>